@use '_variables' as *;

@mixin btn() {
    text-decoration: none;
        cursor: pointer;
        display: inline-block;
        border: 0;
        padding: $base-padding $base-padding * 2;
        border-radius: $base-border-radius;
}

@each $key, $val in $colors {
    .btn-#{$key} {
        @include btn();
        background-color: $val;
    }
    .btn-outlined-#{$key} {
        @include btn();
        border: $base-border-thickness solid $val;
        background-color: #fff;
    }
}